registry=https://pkgs.dev.azure.com/TerraformReadiness/27ba9157-71a6-45a5-812c-832fd887b0e8/_packaging/libraries/npm/registry/ 
                        
always-auth=true

//pkgs.dev.azure.com/TerraformReadiness/27ba9157-71a6-45a5-812c-832fd887b0e8/_packaging/libraries/npm/registry/:username=VssSessionToken
; This is an unencrypted authentication token. Treat it like a password. DO NOT share this value with anyone, including Microsoft support.
//pkgs.dev.azure.com/TerraformReadiness/27ba9157-71a6-45a5-812c-832fd887b0e8/_packaging/libraries/npm/registry/:_password=Z2hreTVtZml1eGZrcWhzYXYycTJ0N2gybTY0Z293MndsdWNmeWp2ZnVqNml0bHdkcXNtcQ==
; The npm client won't use username and _password without an email set, but the service doesn't use the email value. The following is an arbitrarily made-up address.
//pkgs.dev.azure.com/TerraformReadiness/27ba9157-71a6-45a5-812c-832fd887b0e8/_packaging/libraries/npm/registry/:email=not-used@example.com
